{% extends 'base.html' %}
{% block body %}

<div style=" background-image:url('/static/img/contact1.jfif')"> 
    <div style="width: 50%;float: left; padding: 4% 11% ;">
        <div style="padding-top:10%;">
            <p style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In the world of today, nobody holds an initiative to check for notices on the notification boards. 
                Many students skip details. On some relevant news and updates about their final year Exam Timetable As well as Admission form And Fest, Students are therefore
                unable to track their activities.It's easy to obtain all the information and updates of the Exam, Timetable, Fees Structure from guides and coordinators for 
                the students. Hence to remove some stress we have created web application to remove some stress.It offers a clear web portal to students, Exam coordinator 
                and Admin for the management and monitoring of activities. It will help in reducing paper work and time saving and yes we will definitely work on this to make 
                this portal strong for students as a small contribution from our side, Thank You.
            <p>
        </div>
    </div>
    
    <div style="margin-left: 50%; padding-left: 10% border-left: 4px solid blue; ">
        <div style="padding: 20% 20%">
            <h3 style="padding-top:45%;">Author- Karthika Selvakumar</h3>
            <h4>BSC-IT Final-Year</h4>
            <h5>SIES Nerul, navi-mumbai-400706</h6>
            <h5>Contact-963241234</h5>
        </div>
    </div>
</div>
 

{% endblock body %}